<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>National Water Resources Policy</h2> 
 </head> 
 <body><p><b>Year: </b>1997</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>1) Ensure that present and future generations have the necessary access to water of a quality adequate for their various uses
2) Ensure the rational and integated use of water resources, including transportation by aqueduct, with a view to achieving sustainable developoment
3) Prevent and protect against water crises due to either natural causes or the inappropriate use of natural resources</p> 
</body>
</html>