<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Regulating the gradual elimination of the practive of burning sugar cane straw</h2> 
 </head> 
 <body><p><b>Year: </b>2015</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Complementary Law, consisting of 6 Chapters, creates the State Protection Code against Fires and Emergency. It systematizes standards and controls to be carried out within the State for the protection of forests, human life, the environment and properties, establishing the standards to prevent and protect against fires and emergencies, as well as the competencies and duties of the bodies responsible for its compliance and enforcement, facilitating the integrated operation of agencies and entities.</p> 
</body>
</html>