<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law No. 14.309 on the State Policies on Forestry and Biodiversity</h2> 
 </head> 
 <body><p><b>Year: </b>2002</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law, consisting of 6 Chapters, establishes the State Policies on Forestry and Biodiversity. These policies establish the requirements to be met in order to perform forestry activities in light of a sustainable use of natural resources within the State. It also specifies measures to be applied for the environmental and ecological conservation of natural heritage of the State. State forests and other form of existing plants, as well as local ecosystems. Plant resources use and activities related to flora within the State must be regulated in order to minimize environmental impacts and to improve the quality of life of local population according to the following measures: protection and conservation of biodiversity and water; preservation of genetic preservation; harmonisation between the socio-economic development and the environmental balance.</p> 
</body>
</html>