<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree No. 38.182 establishing the Protected Areas Management System</h2> 
 </head> 
 <body><p><b>Year: </b>1996</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree establishes the Protected Areas Management System. It consists of 13 articles creating the aforesaid System, whose main objectives are: to guarantee the ecosystem preservation within the protected areas, to perform a sustainable exploitation and to manage of the said areas. Composition, duties and competencies of an Advisory Council entitled to plan and manage these protected areas are specified in the text.</p> 
</body>
</html>