<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>On the use, conservation, and protection of agricultural land</h2> 
 </head> 
 <body><p><b>Year: </b>2014</p> 
<p><b>Executing Ministry: </b>BR-Agriculture</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Resolution, consisting of 7 articles and one Annex, establishes the methodology to be adopted on a trial basis for the obligations of reforestation and vegetation restoration projects on the pattern unit Tree-Equivalent (EQA), and other measures for the implementation of Riparian Forest Programme, established by article 5 of Decree 60.521. The EQA aims at evaluating the reforestation obligations (liabilities) and the result of restoration of native vegetation projects (assets) in order to ensure equivalence in environmental importance of the compensatory measures and the suppression that was generated.</p> 
</body>
</html>