<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree No. 45.919 amending Decree No. 43.710 regulating Law No. 14.309 on the State Policies on Forestry and Biodiversity</h2> 
 </head> 
 <body><p><b>Year: </b>2012</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree amends Decree No. 43.710 regulating Law No. 14.309 on the State Policies on Forestry and Biodiversity. Amendments deal with the requirements to be met in order to perform forestry activities in light of a sustainable use of natural resources within the State. Administrative procedures and competent authorities entitled to issue forestry authorizations are modified in the document.</p> 
</body>
</html>