<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree of 21 September 1999 creating the National Forest of "Ritápolis" within the State of Minas Gerais</h2> 
 </head> 
 <body><p><b>Year: </b>1999</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree creates the National Forest of "Ritápolis" within the State of Minas Gerais. It consists of 5 articles establishing the aforesaid forest area the purposes of which are: a sustainable exploitation of its natural renewable resources, protection of water resources, etc. Control and management of this forestry area shall be under the competence of the Institution for Environment 'IBAMA'.</p> 
</body>
</html>