<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree No. 58.107 approving the Strategy for the State Sustainable Development</h2> 
 </head> 
 <body><p><b>Year: </b>2012</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree, consisting of 4 articles, approves the Strategy for the Sustainable Development within the State of Espirito Santo. This Strategy establishes State sectoral goals, which will be undertaken through State actions until 2020, according to the UN Conference on Sustainable Development (Rio+20). The Strategy deals with the following sectors: green economy, poverty eradication, natural resources use in the context of sustainable development.</p> 
</body>
</html>