<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the multi-year plan of governmental action for the quadrennium 2016-2019 (PPAG 2016-2019)</h2> 
 </head> 
 <body><p><b>Year: </b>2018</p> 
<p><b>Executing Ministry: </b>BR-Culture</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>Overarching 3-year plan for governmental action that includes attention to agricultural development - a framework for policy development within the 3-year span</p> 
</body>
</html>