<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Creating the state policy for agroecologyy and organic production (PEAPO)</h2> 
 </head> 
 <body><p><b>Year: </b>2012</p> 
<p><b>Executing Ministry: </b>BR-Agrarian Development</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>Establishes a framework for regulating agroecology and organic production - impacts certificatiions based on growth techniques, sale options, quality control, and established definitions</p> 
</body>
</html>