<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Creating the state fund to fight and eradicate poverty (FECOEP)</h2> 
 </head> 
 <body><p><b>Year: </b>2015</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>State anti-poverty scheme - has a section that acutely focuses on rural anti-poverty to stem 'desperation practices' including illegal, wanton farm expansion or claiming of 'unclaimed land'</p> 
</body>
</html>