<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the state policy on the technical assistance and rural extension for family farming and agrarian reform of the state of espirito santo (PEATER/ES) and the state programme of technical assistance and rural extension for family agriculture and agrarian reform of the state of espirto santo - PROATERES</h2> 
 </head> 
 <body><p><b>Year: </b>2012</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>Framework for the establishment of assistance to family farms and assessment of approvals for resouce expansion. Also establishes a framework for how the system can be adjusted in the future.</p> 
</body>
</html>