<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the state programme for sustainable rural development and creating the special state support fund programme for sustainable rural development</h2> 
 </head> 
 <body><p><b>Year: </b>2016</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>State program deveopment for rural development - establishes a special fund to support sustainable development as a prominent practice over undesirable, consequential practices</p> 
</body>
</html>