<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Ecologic-Economical Zoning of Brazil </h2> 
 </head> 
 <body><p><b>Year: </b>2010</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree, consisting of 17 articles, a glossary and tables, amends article 13b of Decree No 4.297, which establishes criteria for the Ecologic-Economical Zoning of Brazil (ZEE) as instrument of the National Policy of the Environment. The Decree approves the Ecologic-Economical Macro-zoning of the Legal Amazones, as instrument of management for elaboration and implementation of public policies of development, territorial and environmental planning.</p> 
</body>
</html>