<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Regulating the gradual elimination of the practice of burning sugar cane straw</h2> 
 </head> 
 <body><p><b>Year: </b>2002</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>State policy to ban burning sugar cane straw - combination of initiation practice for slatsh and burn and risk of rural and unsanctioned forest fires.</p> 
</body>
</html>