<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the crop insurance-fund for family farmers in minas gerais and espirito santo states</h2> 
 </head> 
 <body><p><b>Year: </b>2002</p> 
<p><b>Executing Ministry: </b>BR-Agrarian Development</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>Minas Girais and Esprito Santo insurance program against farming losses to ensure 'non-desperate measures' are taken in times of hardship or downturn resulting from prouct loss or market failure</p> 
</body>
</html>