<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law No. 4.829 creating the rural credit (SNCR - National System of Rural Credit)</h2> 
 </head> 
 <body><p><b>Year: </b>1965</p> 
<p><b>Executing Ministry: </b>BR - Federal Union</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>The government guarantees the availability of agricultural credit resources at preferential interest rates for working capital and marketing, mainly from demand deposits in commercial banks, and for investments, which are provided through specific programs for inputs, products, and rural activities. These resources correspond to 40% of the required amount to finance agriculture and by resources financed at market interest rates.</p> 
</body>
</html>