<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>National Fund on Climate Change</h2> 
 </head> 
 <body><p><b>Year: </b>2009</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law creates the National Fund for Climate Change (FNMC) by amends articles 6 and 50 of Law No. 9.478. this Fund, under the Ministry of Environment, aims at securing necessary resources to support projects or studies and finance projects aimed at climate change mitigation and adaptation to climate change and its effects.</p> 
</body>
</html>