<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree No. 7.390 regulating Law No. 12.187, instituting the National Policy on Climate Change</h2> 
 </head> 
 <body><p><b>Year: </b>2010</p> 
<p><b>Executing Ministry: </b>None</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>Regulates Law No. 12.187, which institutes the National Policy on Climate Change. The amendments deal with the provisions to be taken and specify the authorized levels of gas emissions in order to protect the environment from the risks of climate change. Specifies authorized timber extraction in order to control greenhouse gas emission until 2020.</p> 
</body>
</html>