<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Creating the Amazon Fund established by the National Bank for Economic and Social Development (BNDES)</h2> 
 </head> 
 <body><p><b>Year: </b>2008</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Decree, consisting of 8 articles, creates the Amazon Fund established by the National Bank for Economic and Social Development - BNDES. This Fund aims at granting non-reimbursable investments for the prevention, monitoring and combating deforestation and promoting conservation and sustainable use of the Amazon biome</p> 
</body>
</html>