<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the National System of Protected Areas Management - SNUC</h2> 
 </head> 
 <body><p><b>Year: </b>2000</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law establishes the National System of wildlife protected areas management - SNUC, aimed to the protection of biodiversity and genetic resources within the national territory and waters under Brazilian jurisdiction. It consists of 7 Chapters specifying criteria and requirements for the creation, installation and management of the aforesaid protected areas.</p> 
</body>
</html>