<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Management of Public Forests, Brazilian Forest Service and National Fund for Forest Development</h2> 
 </head> 
 <body><p><b>Year: </b>2006</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law is composed of 86 articles structured in five Chapters. It regulates public forests management with the view of granting sustainable timber production. Special attention is devoted to local community management, forest concessions, environmental licensing and forestry prices. Moreover, it institutes, within the Ministry for Environment, the Brazilian Forestry Service (SBF) and the National Fund for Forestry Development (FNDF)</p> 
</body>
</html>