<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Decree of 13 December 2002 instituting the “Pacotuba” Forestry Reserve</h2> 
 </head> 
 <body><p><b>Year: </b>2002</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This decree creates the National Forest of Pacotuba, in the Municipality of Cachoeiro de Itapemirim, in the State of Espírito Santo to promote the management of multiple uses of natural resources, maintenance and protection of water resources and biodiversity, the recovery of degraded areas, environmental education, as well as support for the development of methods of sustainable exploitation of the natural resources of the bordering areas. IBAMA will administer the National Forest of Pacotuba, adopting the necessary measures for its effective protection and implantation. The right to carry out scientific research, with emphasis on methods for the recovery of degraded areas and sustainable exploitation of the Atlantic Forest, is granted to the Capixaba Institute for Research, Technical Assistance and Rural Extension-INCAPER and to the Federal University of Espírito Santo .</p> 
</body>
</html>