<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Creating the social fund for assistance to family farming within the Espirto Santo state</h2> 
 </head> 
 <body><p><b>Year: </b>2014</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>The Social Support Fund for Family Agriculture of the State of São Paulo (FUNSAF) was established for the purpose of financial support for family agriculture projects, the organization of production processes, agro-industrialization, processing, in the management of enterprises, in the qualification of the provision of technical assistance and rural extension services (ATER) and the development of agricultural research aimed at family farming. It seems to be similar but distinct from SNCR - perhaps complementing federal rural credit at the state level. </p> 
</body>
</html>