<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Providing for the state policy to support cooperatives within the state of minas gerais</h2> 
 </head> 
 <body><p><b>Year: </b>2015</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Resolution amends the temporary suspension of the issue of Authorization for Environmental Intervention - DAIA and the Authorization for Environmental Intervention - AIA for the Atlantic biome Forests. Amendments establish that the Resolution shall not apply to the following environmental interventions: intervention in permanent preservation areas - APP without exploitation of native vegetation in case of low impact; logging or use of native isolated forest trees; exploitation of massive planted forests, and the presence of native understory with income from wood; exploitation of timber; suppression of massive forest of planted origin, located in consolidated APPs.</p> 
</body>
</html>