<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Creating the fund for agricultural, livestock, and fisheries development</h2> 
 </head> 
 <body><p><b>Year: </b>2014</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law creates the Fund for Agricultural, Livestock and Fisheries Development, defines its objectives and provides for the enforcement of its resources. The Fund, established by Law No. 5.444 of 17 November 1959, ratified by Law No. 7.001 of 27 December 1990, under the Department of Agriculture and Food Supply, aims to provide financial support to programmes and projects of State economic interest for farmers and artisanal fisheries and related cooperatives and associations. Loans will be granted based on programmes or projects established by the Executive decree, to partial or full liquidation of debts of farmers.</p> 
</body>
</html>