<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Joint Resolution IEF/SEMAD No. 1.906 establishing procedures to regulate harvesting and marketing of exotic forest tree planted within the State of Minas Gerais</h2> 
 </head> 
 <body><p><b>Year: </b>2013</p> 
<p><b>Executing Ministry: </b>BR-Non-Federal, State Ministry</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Resolution was established by decree and establishes procedures to regulate harvesting and marketing of exotic forest tree species planted within the State of Minas Gerais. The above mentioned harvesting of forestry products and the use of by-products and forest residues for charcoal production should be conducted with prior notice to the State Forestry Institute (IEF). The prior notification should be accompanied by Declaration to be filled with model IEF in Annex (available on the website). It also includes details about collection of the Forest Tax. </p> 
</body>
</html>