<!DOCTYPE html>
<html>
<head>
	<h2>Forest Code</h2>
</head>
<body>
	<p><b>Year: </b>2012</p>
	<p><b>Jurisdiction: </b>National</p>
	<p><b>Executing Ministry: </b>BR - Federal Union</p>
	<p><b>Land Use: </b>Forest land, Farmed land</p>
	<p><b>Summary: </b>"Creates standards for Permanent Protected Areas, regulates economic activities in forests, and restricts deforestation requiring information to be tracked in a “Rural Environmental Register.”
	1) CAR - rural registry database
	2) Govern the use and protection of private lands in Brazil
	3) Use 2 types of protection instruments for conservation on private lands: Permanent preservation areas and the legal forest reserve
	4) Establish a regime to allow some rural landowners geater leniency - rural properties where native vegetation was illegally clear-cut for agriculture or livestock breeding purposes. Environmental regularization program
	5) Requirement to implement policy at the state level with flexibility and federal oversight"</p>
</body>
</html>