<!doctype html>
<title>Global Forestry Analysis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Global Forestry Analysis</h1>
<div id="sentences">
  <h2>Extract sentences using keywords</h2>
  Country: 
    <select>
      <option value="Brazil">Brazil</option>
      <option value="India">India</option>
      <option value="Kenya">Kenya</option>
      <option value="Malawi">Malawi</option>
      <option value="Mexico">Mexico</option>
      <option value="Rwanda">Rwanda</option>
    </select>
    <br>
  Year: <input type="text" name="Year" ><br>
  Keywords: <input type="text" name="Keywords" ><br>
  <button type="button">Extract now</button>
</div>
<div id="classification">
  <h2>Classify documents' Incentives/Disincentives/Motivations</h1>
  <form action="/action_page.php">
    Country: 
    <select>
      <option value="Brazil">Brazil</option>
      <option value="India">India</option>
      <option value="Kenya">Kenya</option>
      <option value="Malawi">Malawi</option>
      <option value="Mexico">Mexico</option>
      <option value="Rwanda">Rwanda</option>
    </select>
    <br>
    Year: <input type="text" name="Year" ><br>
    URL: <input type="text" name="url" ><br>
    Enacted By Law:   
      <input type="radio" value="yes" name="law"> Yes
      <input type="radio" value="no" name="law"> No<br>
    Enacted By Executive:   
      <input type="radio" value="yes" name="exec."> Yes
      <input type="radio" value="no" name="exec."> No<br>
    Did it become law?   
      <input type="radio" value="yes" name="exec."> Yes
      <input type="radio" value="no" name="exec."> No<br>
    Is it in use today?   
      <input type="radio" value="yes" name="exec."> Yes
      <input type="radio" value="no" name="exec."> No<br>
    <button type="button">Gimme the Incentives!</button>
    <button type="button">Gimme the Disincentives!</button>
    <button type="button">Gimme the Motivations!</button>
  </form>
</div>
<div id="new documents">
  <h2>Storing New Documents</h2>
  <form action = "/handleUploadUrl", method = "post", enctype = "multipart/form-data">
        URL: <input type="text" name="url" ><br>
        <input type = "submit" value="Upload">
  </form>
  Country: 
    <select>
      <option value="Brazil">Brazil</option>
      <option value="India">India</option>
      <option value="Kenya">Kenya</option>
      <option value="Malawi">Malawi</option>
      <option value="Mexico">Mexico</option>
      <option value="Rwanda">Rwanda</option>
    </select>
    <br>
  Year: <input type="text" name="Year" ><br>
  <form action="/handleUpload" method="post" enctype="multipart/form-data">
            Choose the file: <input type="file" name="file"/><BR>
                <input type="submit" value="Upload"/>
        </form> 
</form>

</div>
