<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Mineral Concession Rules</h2> 
 </head> 
 <body><p><b>Year: </b>1960</p> 
<p><b>Executing Ministry: </b>IN- Mines</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>These Rules establish the requirements and procedures to be satisfied in order to obtain prospecting mining concessions. The Rules are divided as follows: Preliminary (I); Grant of Reconnaissance Permit (Rule 4-7D)(II); Grant of Prospecting Licences in Respect of Land in Which the Minerals Vest in the Government (Rule 8-21)(III); Grant of Mining Leases in Respect of Land in Which the Minerals Vest in the Government (Rule 22-40)(IV);</p> 
</body>
</html>