<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>National Green Tribunal Act</h2> 
 </head> 
 <body><p><b>Year: </b>2010</p> 
<p><b>Executing Ministry: </b>IN- Law and Justice</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>Act to provide for the establishment of a National Green Tribunal for the effective and expeditious disposal of cases relating to environmental protection and conservation of forests and other natural resources including enforcement of any legal right relating to environment and giving relief and compensation for damages to persons and property and for matters connected therewith or incidental thereto</p> 
</body>
</html>