<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>The Compensatory Afforestation Fund Act (CAMPA)</h2> 
 </head> 
 <body><p><b>Year: </b>2016</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>An Act to provide for the establishment of funds under the public accounts of India and the public accounts of each State and crediting thereto the monies received from the user agencies towards compensatory afforestation, additional compensatory afforestation, penal compensatory afforestation, net present value and all other amounts recovered from such agencies under the Forest (Conservation) Act, 1980, constitution of an authority at national level and at each of the State and Union territory Administration for administration of the funds and to utilise the monies so collected for undertaking artificial regeneration (plantations), assisted natural regeneration, protection of forests, forest related infrastructure development, Green India Programme, wildlife protection and other related activities and for matters connected therewith or incidental thereto.</p> 
</body>
</html>