<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Establishing the multi-year plan of governmental action for the quadrennium 2016-2019 (PPAG 2016-2019)</h2> 
 </head> 
 <body><p><b>Year: </b>2003</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>The Rules detail out the procedure regarding application for registration of plant variety, establishment of the Plant Varieties and Farmers' Rights Protection Authority and also include provisions on setting up of the national register of plant varieties</p> 
</body>
</html>