<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Wetlands (Conservation and Management) Rules</h2> 
 </head> 
 <body><p><b>Year: </b>2010</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>The Wetland Conservation and Management Rules ensure better management, conservation and prevention of degradation of existing wetlands in India. These Rules have been drafted by the Ministry of Environment and Forests and a Central Wetland Regulatory Authority has been set up to ensure proper implementation of the Rules and perform all its functions. The Authority shall have a number of expert members to ensure that wetland conservation is carried out in the best possible manner.</p> 
</body>
</html>