<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>National Mission for a Green India</h2> 
 </head> 
 <body><p><b>Year: </b>2014</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>The National Mission for Green India (GIM) is one of the eight missions under the National Action Plan on Climate Change (NAPCC) launched in order to safeguard the country's biological resources and associated livelihoods against the perils of climate change, recognizing vital impacts of forestry on ecological sustainability, biodiversity conservation and food, water and livelihood security to the nation.</p> 
</body>
</html>