<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Scheduled Tribes and other Traditional Forest Dwellers (Recognition of Forest Rights) Act</h2> 
 </head> 
 <body><p><b>Year: </b>2006</p> 
<p><b>Executing Ministry: </b>IN- Law and Justice</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>An Act to recognise and vest the forest rights and occupation in forest land Scheduled Tribes and other traditional forest dwellers who have been residing in such forests for generations but whose rights could not be recorded; to provide for a framework for recording the forest rights so vested and the nature of evidence required for such recognition and vesting in respect offorest land.</p> 
</body>
</html>