<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Circular Concerning Joint Forest Management</h2> 
 </head> 
 <body><p><b>Year: </b>1981</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>This Circular of the Department of Environment, Forests and Wildlife to Forest Secretaries of all States and other territories concerns the involvement of village communities and voluntary agencies for regeneration of degraded forest lands. The National Forest Policy envisages it as one of the essentials of forest management that the forest communities should be motivated to identify themselves with the development and protection of forests from which they derive benefits. Voluntary Agencies/NGO</p> 
</body>
</html>