<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Environment (Protection) Act</h2> 
 </head> 
 <body><p><b>Year: </b>1986</p> 
<p><b>Executing Ministry: </b>IN- Environment, Forests and Climate Change</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>umbrella legislation which authorizes the Central Government to protect and improve environmental quality, control and reduce pollution from all sources, and prohibit or restrict the setting and /or operation of any industrial facility on environmental grounds. According to the Act, the term "environment" = water, air and land and the inter- relationship which exists among and between water, air and land, and human beings, other living creatures, plants, micro-organism and property. Under the Act, the Central Government shall have the power to take all such measures as it deems necessary or expedient for the purpose of protecting and improving the quality of environment and preventing, controlling and abating environmental pollution.</p> 
</body>
</html>