<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Forestry Law</h2> 
 </head> 
 <body><p><b>Year: </b>1986</p> 
<p><b>Executing Ministry: </b>MX-Agriculture and Rural Development</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"These provisions are of public order and social interest and are intended to order and regulate administration, conservation, protection, promotion, restoration and the use of forest resources, in accordance with the national forest policy guidelines established by this Law"</p> 
</body>
</html>