<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law of Sustainable Rural Development of the State of Chiapas</h2> 
 </head> 
 <body><p><b>Year: </b>2017</p> 
<p><b>Executing Ministry: </b>MX-Agriculture and Rural Development</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"To achieve sustainable rural development, the State Government will promote a process of social and economic transformation that recognizes the vulnerability of sector and lead to the sustained and sustainable improvement of living conditions of the rural population. It will do so through the promotion of productive activities and social development that carried out in the field of the various regions of the rural environment, seeking the use optimum, conservation and improvement of natural resources, orienting itself to the productive diversification in the field, including non-agricultural; and to raise the productivity, profitability, competitiveness, income and employment of the population rural"</p> 
</body>
</html>