<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law for Adaptation and Mitigation of Climate Change in the State of Chiapas</h2> 
 </head> 
 <body><p><b>Year: </b>2013</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>Enforces Kyoto and UNFCCC in Chiapas, the "formulation and implementation of public policies for Adaptation to Climate Change and the Mitigation of its adverse effects, to protect the population and contribute to the sustainable development."</p> 
</body>
</html>