<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Environmental Law For the State of Chiapas</h2> 
 </head> 
 <body><p><b>Year: </b>2017</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>recognizes the rights of citizens to a healthy environment and sustainable economy by holding responsible parties for environmental damage responsible, coordinating from the federal down to the municipal level and engaging local inhabitants and indigenous peoples</p> 
</body>
</html>