<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Sustainable Forestry Development Law for the State of Chiapas (Decree No. 256</h2> 
 </head> 
 <body><p><b>Year: </b>2008</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>setups goals and management for conservation, restoration, reforestation, afforestation, and sustainable use (including giving indigenous groups priority over held lands -pg. 7). Also, calls for creation of Forest Inventory</p> 
</body>
</html>