<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law of Sustainable Rural Development</h2> 
 </head> 
 <body><p><b>Year: </b>2001 (consolidated 2017)</p> 
<p><b>Executing Ministry: </b>None</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"This Law is aimed at promoting sustainable rural development in the country, promoting an adequate environment, and guaranteeing the rector of the State and its role in the promotion of equity. It considers of public interest the sustainable rural development that includes the planning and organization of the agricultural production, its industrialization and commercialization, and of the other goods and services, and all those actions tending to the elevation of the quality of life of the population."</p> 
</body>
</html>