<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Specifications to mitigate the adverse effects on biodiversity caused by the change of land use of agricultural forest lands</h2> 
 </head> 
 <body><p><b>Year: </b>1994</p> 
<p><b>Executing Ministry: </b>None</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"This Official Mexican Standard establishes the specifications to mitigate the adverse effects on biodiversity caused by the change of land use from forest to agricultural lands. "</p> 
</body>
</html>