<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Federal Law of Special Economic Zones</h2> 
 </head> 
 <body><p><b>Year: </b>2016</p> 
<p><b>Executing Ministry: </b>None</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"This Law regulates the planning, establishment and operation of Special Economic Zones to promote sustainable economic growth that, among other purposes, reduces poverty, allows the provision of basic services and expands opportunities for healthy and productive lives, in the regions of the country that have greater lags in social development, through the promotion of investment, productivity, competitiveness, employment and a better distribution of income"</p> 
</body>
</html>