<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Law of Burning and Prevention of Forest Fires for the State of Quintana Roo</h2> 
 </head> 
 <body><p><b>Year: </b>2012</p> 
<p><b>Executing Ministry: </b>The Forest Institute</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>The present Law regulates the use of fire in activities related to the exploitation of land for agricultural, livestock or other purposes, in order to prevent the destruction of tree stands, the renewal of forest species, crops and plantings and wildlife. The ultimate purpose of these provisions is to prevent environmental damage, risks to public health and safety.</p> 
</body>
</html>