<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>General Law of Human Settlements, Territorial Planning and Urban Development
</h2> 
 </head> 
 <body><p><b>Year: </b>2016</p> 
<p><b>Executing Ministry: </b>None</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"The present Law establishes the basic norms and instruments of management of general observance, to order the use of the territory and the human settlements in the country, with full respect to the human rights, as well as the fulfillment of the obligations that the State has to promote them. , respect them, protect them and guarantee them fully. The Law regulates the concurrence of the Federation, of the federative entities, the municipalities and the Territorial Demarcations for the planning, order"</p> 
</body>
</html>