<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Support Programmes for the Environmental Conservation and for the Promotion of Rural Productive Activities</h2> 
 </head> 
 <body><p><b>Year: </b>2011</p> 
<p><b>Executing Ministry: </b>BR-Environment</p> 
<p><b>Land Use: </b>Forest land,Farmed land,Protective land and buffers</p> 
<p><b>Summary: </b>This Law, consisting of 4 Chapters, creates the Programmes for the Environmental Conservation and for the Promotion of Rural Productive Activities. The Programme for the Environmental Conservation aims at promoting the conservation of Regional ecosystem, through its management and sustainable use.</p> 
</body>
</html>