<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Program for Forest Development</h2> 
 </head> 
 <body><p><b>Year: </b>2003</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"establishes the Rules of Operation for the granting of support from the Forest Development Program (PRODEFOR), which aims to encourage forest producers in the country, through the allocation of temporary support, destined to the production, the productivity of forest ecosystems, the development of the forest productive chain, the diversification of activities that improve the income of the owners and / or holders of forestry lands"</p> 
</body>
</html>