<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Program for the Development of Commercial Forest Plantations</h2> 
 </head> 
 <body><p><b>Year: </b>2003</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"This Agreement establishes the Operating Rules for the granting of support from the Program for the Development of Commercial Forest Plantations (PRODEPLAN), which aims to promote commercial forest plantations through the allocation of federal resources, through temporary support. that allow to partially compensate the costs of establishment and maintenance and the elaboration of management programs."</p> 
</body>
</html>