<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>Agreement through which reference costs are issued for reforestation or restoration and maintenance for environmental compensation for land use change in forest land and the methodology for its estimation.</h2> 
 </head> 
 <body><p><b>Year: </b>2014</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>"The purpose of this Agreement is to establish reference costs for reforestation or restoration activities and their maintenance as environmental compensation for land use change in forest lands. The annex defines the methodology for calculating the aforementioned reference costs."</p> 
</body>
</html>