<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>National Forestry Program 2016</h2> 
 </head> 
 <body><p><b>Year: </b>2015</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>Regulates forestry generally across the country, including placing subsidies, and mobilizes opportunities and capital for infrastructure regarding forestry opportunities (for companies). Promotes the productive use, “protection, conservation” and restoration of forests and seeks to align policy with ecosystem services provided by soil, water, and nutrients in forests.</p> 
</body>
</html>