<!DOCTYPE html> 
 <html> 
 <head> 
 <h2>General Law of Ecological Balance and Environmental Protection</h2> 
 </head> 
 <body><p><b>Year: </b>1988 (consolidated 2018)</p> 
<p><b>Executing Ministry: </b>MX-Environment and Natural Resources</p> 
<p><b>Land Use: </b>Forest land</p> 
<p><b>Summary: </b>“aims to regulate and promote the integral and sustainable management of the territories
forestry, conservation, protection, restoration, production, management, cultivation, management and
use of the country's forest ecosystems and their resources”</p> 
</body>
</html>